/* extrasmall Devices(Landscape Phone & Portrait Tablets */
@media (min-width:280px) and (max-width: 424px){
     #home h2{
        font-size: 32px;
        margin: 0 0 32px;
    }
    .col-md-8{
        padding:2rem;

    }
    #home .row{
        padding-top: 0;
        padding-left: 0.5rem;
    }
    .col-md-2 h5{
        margin-top:-9rem;
        margin-left: 1em;
    }
    a .arrow{
        margin-top: -18rem;
        padding:0;
    }
    .project-img{
        padding: 1rem;
    }
    .img-caption{
        text-align: center;
    }
    .col-md-10 h3{
        text-align: center;
    }
    .contact-details{
        text-align: center;
    }
    .contact-col{
        padding-bottom: 2rem;
    }
    .effect h4{
        padding-top: 1rem;
    }
    .info p{
        text-align: center;
    }
    .contact-details{
        padding: 48px 0;
    }
    .col-md-8 h6{
        text-align: center;
    
    }
    .further-info{
        text-align: center;
    }
}

@media (min-width:425px) and (max-width: 767px){
    #home h2{
        font-size: 32px;
        margin: 0 0 32px;
    }
        
    .col-md-8{
        padding:2rem;

    }
    .col-md-8 h6{
        text-align: center;
    }
    .contact-details{
        padding: 48px 0;
    }
    #home .row{
        padding-top: 0;
        padding-left: 0.5rem;
    }
    .col-md-2 h5{
        margin-left: 1em;
    }
    a img{
        
        padding:0;
    }
    .project-img{
        padding: 1rem;
    }
    .img-caption{
        text-align: center;
    }
    .col-md-10 h3{
        text-align: center;
    }
    .contact-details{
        text-align: center;
    }
    .contact-details{
        text-align: center;
    }
    .contact-col{
        padding-bottom: 2rem;
    }
    .effect h4{
        padding-top: 1rem;
    }
    .effect a{
        word-break:break-word;
    }
    .further-info{
        text-align: center;
    }
    .col-md-8 h6{
        text-align: center;
        padding-left: 3rem;
    }
    .info p{
        text-align: center;
    }

}
@media (min-width:768px) and (max-width: 1024px){
    #home h2{
        font-size: 42px;
        margin: 0 0 2rem 0;
    }
        
    .col-md-8{
        text-align: initial;

    }
    #home .row{
        padding-top: 0;
        padding-left: 0.5rem;
    }
    .col-md-2 h5{
        margin-left: 1em;
    }
    a img{
        
        padding:0;
    }
    .effect a{
        word-break:break-word;
    }
    .contact-details{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .col-md-10 h3{
        text-align: initial;
    }
    .further-info{
        text-align: inherit;
    }


}
@media (min-width:1200px){
    .further-info{
        text-align: initial;
    }

}